@media (min-width: 768px){
  .TextField1{
    display: flex !important;
    justify-content: space-around !important;
    flex-direction: row !important;
    margin-bottom: 10px !important;
  }

}
.buttons{
  margin: 10px !important;
}
.card{
  box-shadow: 11px 6px 5px 5px rgb(0 0 0 / 20%), 6px 5px 1px 2px rgb(0 0 0 / 14%), 3px 1px 3px 4px rgb(0 0 0 / 12%)!important;
}
